html, body {
  
}

h1 {
  width: 100%;
  text-align: center;
}

#outputBox {
  border: 1px solid #ccc;
  min-height: 400px; /* Minimum height */
  width: 50%;
  text-align: left;
  white-space: normal; /* Allows text to wrap */
  list-style-type: none; /* Removes bullets */
}

.output-container {
  display: flex; /* This makes it a flex container */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Aligns items on the vertical line */
  width: 100%;
}

#textInput {
  width: 60%; /* Width of the input field */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px;
}

.center-container {
  display: flex; /* This makes it a flex container */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Aligns items on the vertical line */
  width: 100%;
  position: sticky;
  bottom: 0px;
}

.relative-container {
  position: sticky;
  bottom: 60px;
}

#sendButton {
  padding: 10px;
  margin: 5px;
  background-color: #8b1d5d;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none; /* Removes the button border */
  border-radius: 5px; /* Adds rounded corners to the button */
}